// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #292B2E;
    font-family:'Noto Sans' sans-serif;

}
h1{

    color:white;
    font-size: 50px;
    font-weight:normal;
    margin-bottom: 0;
    font-family:'Noto Sans' sans-serif;
}

h2 {
    color:white;
    font-size:18px;
    margin-top: 0;
}


.bio {
    color:white;
    font-size: 16px;

}

.me {
    height:18%;
    width: 32%;
    border-radius:50%;
    border-style:solid;
    border-color:#d9d9d9;
    margin-top: 40px;
}
.about {
    width:36%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
.grey{
    height: 3px;
    background-color: #b3b3b3;
    border:none;
    width: 25%;
}
.tablinks{
    color: white;
    font-size: 120%;
    font-family:'Noto Sans' sans-serif;
}
